#thumbnails {
  display: flex;
  overflow-x: auto;
  margin: 1em;
  overflow-y: hidden;
  /* width: 90%; */
}

#thumbnails img {
  padding: 0.6em;
  cursor: pointer;

  margin: 0.5em;
}

#thumbnails img:hover {
  transform: scaleY(1.3);
}
